@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,495;1,495&family=Train+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: black;
    font-family: "Montserrat", Helvetica, sans-serif;
    overflow: hidden;
}

.title {
    font-family: "Train One", system-ui;
    font-size: 6vw;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation-name: title;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    background-image: url(/plastic.jpg);
    background-position: bottom;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.fade-in {
    animation: 2s ease-in 3s fade;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes title {
    0% {
        font-size: 6vw;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: fit-content;
        font-weight: bold;
        background-image: url(/plastic.jpg);
        color: transparent;
    }
    50% {
        opacity: 1;
        font-size: 6vw;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        font-weight: bold;
        background-image: url(/plastic.jpg);
        color: transparent;
    }
    100% {
        font-size: 4vw;
        left: 1vw;
        top: 1vw;
        transform: none;
        opacity: 1;
        width: 40vw;
        font-weight: normal;
        background-image: none;
        color: white;
    }
}
